@import './base.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* кастомні стилі для тостів */
.Toastify__toast--success {
  background: #e0f8e9;
  color: #007a33;
}

.Toastify__toast--error {
  background: #fdecea;
  color: #d93025;
}

.Toastify__toast--info {
  background: #e6f0ff;
  color: #1a73e8;
}

.Toastify__toast--warning {
  background: #fff4e5;
  color: #f9ab00;
}

/* Кастомні кнопки закриття */
.Toastify__close-button {
  color: inherit;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--main-white);
  color: var(--text-color);
  line-height: 1;
}

@font-face {
  font-family: 'Manrope';
  src: url('@/assets/fonts/Manrope-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('@/assets/fonts/Manrope-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('@/assets/fonts/Manrope-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('@/assets/fonts/Manrope-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('@/assets/fonts/Manrope-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('@/assets/fonts/Manrope-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('@/assets/fonts/Manrope-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
